td.linkjqgrid A:link {text-decoration: none;}
td.linkjqgrid A:visited {text-decoration: none;}
td.linkjqgrid A:active {text-decoration: none;}
td.linkjqgrid A:hover {text-decoration: underline; color: blue; cursor: pointer;}
td.linkjqgrid {background-color:#BCE8F1}
